####################################
# Gradle / Android
####################################
.gradle/
**/.gradle/
build/
**/build/
local.properties

####################################
# Android Studio / IntelliJ
####################################
.idea/
*.iml
out/

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
*.log
